@import url(https://fonts.googleapis.com/css?family=Bree+Serif);


ul {
    padding: 0 0 0 0;
    margin: 0 0 40px 0;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

ul li.bspHasModal {
    cursor: pointer;
}

.modal-body {
    padding: 5px !important;
}

.modal-content {
    border-radius: 0;
}

.modal-dialog img {
    text-align: center;
    margin: 0 auto;
}

.controls {
    width: 50px;
    display: block;
    font-size: 11px;
    padding-top: 8px;
    font-weight: bold;
}

.next {
    float: right;
    text-align: right;
}

.text {
    font-family: 'Bree Serif';
    color: #666;
    font-size: 11px;
    margin-bottom: 10px;
    padding: 12px;
    background: #fff;
}

.glyphicon-remove-circle:hover {
    cursor: pointer;
}

@media screen and (max-width: 380px) {
    .col-xxs-12 {
        width: 100%;
    }

    .col-xxs-12 img {
        width: 100%;
    }
}